@tailwind base;
@tailwind components;
@tailwind utilities;

html a {
  cursor: cell !important;
}

.notion-quote {
  font-size: 16px !important;
}

.notion-row {
  flex-direction: row !important;
}

::selection {
  background: black;
  color: white;
}

.notion-asset-wrapper {
  width: 100% !important;
}
